@import "main.css";

.tag {
  font-size: 1.25rem;
  padding-inline: 0.4em;
  padding-block: 0.2em;
  line-height: 2;
  border-radius: 999em; /* Creates a pill shape */
  background-color: var(--ayu-mirage-ui-panel-bg);
  color: var(--ayu-mirage-syntax-tag);
}
